 #bigmain{
     width: 400px;
     height: 800px;
     max-width: 600px;
     max-height: 800px;
     padding: 0;

 }
 * {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

 header {
     /*background-color: purple;*/
     opacity: 5;
     max-height: 82px;
     width: 80%;
 }
 ul li{
    display: inline;
 }
 li:hover {
     background-color: pink;
     color: lightgreen;
 }

/* {
     background-color: white;
     margin-top: 0px;
     height: 50px;
     width: 100%;
     border-color: blue;
 }*/

 header img {
     max-height: 80px;
     margin:0px 240px;
     width: inherit;
 }

 body {
     background-color: grey;
     font-family: Helvetica,sans-serif,Arial;
     font-size: 12px;
     font-weight: normal;
 }

 #main-content {
     position: relative;
     background-color: lightgrey;
     width: 80%;
     height: auto;
     padding:20px;
     max-width:900px;
     max-height: 80%;
     min-height: 1000px;
     visibility: visible;
     margin-top: 5px;
     margin-left: 16%;
     margin-bottom: 0;
     opacity:12;
     border-radius: 5px;
 }
 form a {
     text-decoration: none;
     color: blue;
 }
 li a {
     text-decoration: none;
     color: black;
     font-size: 15px;
 }

 li a:hover {
     background-color: pink;
     color: white;
 }

 #content  {
     padding: 2px 20px;
     background-color: white;
     width:50%;
     height: 300px;
     max-width:250px;
     max-height: 400px;
     margin-left: 67%;
     margin-right: 5px;
     margin-top: 150px;
     position: absolute;
     border-radius: 5px 20px 5px 20px;
 }

 #content form {
     margin-top: 2px;
     height: 100px;
     padding-top: 10px;
     padding-left: 30px;
 }

 .foot{
     margin-top: 0px;
     background-color: blue;
     border-radius: 5px 5px;
     display: block;
 }

 ul #media {

 }

 footer {
     background-color: lightgrey;

     font-size: 10px;
     color: blue;
     height: 30px;
     padding-top: 10px;
 }

 footer  {

 }
 h4 {
     margin: 0;
     padding: 0;
 }

 h6 {
     margin: 0;
     padding: 0;
 }
